PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=logistic_db
DB_USER=postgres
DB_PASSWORD=postgres
TEST_DB_HOST=localhost
TEST_DB_PORT=5433
TEST_DB_NAME=logistic_db_test
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres

JWT_SECRET=cambia_esto_por_un_secreto_seguro
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:5173
ORS_API_KEY=coloca_tu_api_key
ORS_USE_MOCK=false
